.AboutUsPage{
    background-color: black;
    color: white;

}

.whyPegasus{
    margin-top: 40px;
        font-size:40px;
        margin-right: 100%;
        margin-left: 10vw;
        white-space: nowrap;
}

.paragraph{
    width: 80vw;
    margin-left: 10vw;
    text-align: left;
    font-size: 23px;
    font-weight: 100;
    margin-top: -34px;
}

.aboutUs{
    margin-left: 10vw;
}

.location{
    margin-left: 10vw;
    width: 80vw;
    margin-top: 40px;
        font-size:50px;
        margin-right: 100%;
        margin-bottom: 40px;
        white-space: nowrap;
        font-weight: 500;
}

.attributes2{

    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: -30px;

    img{
        margin-top: 20px;
        height: 100px;
        width: 100px;
    }

}

.row2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.column2{

    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    h3{
        margin-right: 100%;
        white-space: nowrap;
        font-weight: 500;
        margin-top: 15px;
        font-size: 25px;
        width: 40vw;
    }

    h4{
        margin-top: -10px;
        font-size: 18px;
        font-weight: 250;
        width: 40vw;

    }
}



/* height of the container */
.leaflet-container {
    margin-top: -30px;
    position: relative;
    height: 600px;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 2rem;
    z-index: 0;
  }

  .location2{
    width: 80vw;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 23px;
    margin-left: 10vw;
}

.footer{
    margin-top: 10px;
}

@media screen and (max-width: 900px) {

    .row2{
        img{
            margin-top: 30px;
        }
    }

    .column2{

        h3{
            white-space: wrap;
        }

    }

}



@media screen and (max-width: 450px) {

    .aboutUs{
        padding-top: 50px;
        margin-left: 20px;
    }

    .paragraph{
        width: 85%;
        margin-left: 20px;
        margin-top: -20px;
        font-size: 19px;
    }

    .whyPegasus{
        margin-left: 20px;
        font-weight: 500;
    }


    .attributes2{
        width: 80%;
        margin-left: -55px;
    }

    
    .row2{

        display: flex;
        flex-direction: column;
        width: 90%;
        
        img{
            height: 100px;
            width: 100px;
            margin-left: 70%; 
        }

        h3{
            margin-top: 0px;
            width: 70%;
            white-space: wrap;
            margin-left: 50%;
        }

        h4{
            width: 100%;
            margin-left: 35%;
        }

        .column2{
            text-align: center;
        }
   
    }   

    .location{
        margin-left: 20px;
        margin-bottom: 50px;
    }
    
    .leaflet-container {
        height: 600px;
        width: 85%;
        margin-left: 20px;
        border-radius: 2rem;
        z-index: 0;
      }

      .location2{
        width: 90%;
        margin-left: 10px;
        margin-bottom: -50px;
      }

      
}