.ContactUsPage {
  width: 100%;
  max-width: 100%;
  background: #000;
  min-height: 100vh;
  overflow-x: hidden;
}

.ContactUsPage .contactUs {
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .ContactUsPage .contactUs {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .ContactUsPage .contactUs {
    margin-top: 85px;
  }
}
