.contactUs{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80vw;
    margin-left: 10vw;
    margin-top: -200px;


    h3{
        text-align: left;
        margin-top: -45px;
        margin-left: 3px;
        margin-bottom: 35px;
        font-weight: 300;
        font-size: 24px;
    }
}

form{
    margin-top: -20px;
    display: flex;
    flex-direction: column;

    input{
        color: white;
        height:40px;
        width: 80vw;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 100;
        background-color: #202020;
        border: none;
        border-radius: 5px;

    }

    input::placeholder{
        color: white;
    }

    textarea{
        color: white;
        height:30px;
        width: 80vw;
        margin-top: 10px;
        font-size: 22px;
        font-weight: 0;
        background-color: #202020;
        border: none;
        border-radius: 5px;
        min-height: 150px;

        
    }

    textarea::placeholder{
        color: white;
        padding-left: 7px;
    }

}

.button2{
    color:black;
    background-color: orange;
    width: 80vw;
    margin-top: 20px;
}


@media screen and (max-width: 600px) {

    .contactUs{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin-left: 13%;
        margin-top: 200px;
        margin-bottom: -40px;
    
        h1{
            font-size: 50px;
            margin-left: 0;
            margin-bottom: 18px
        }
    
        h3{
            text-align: left;
            margin-left: -6%;
            margin-top: -15px;
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 21px;
        }
    }


    form{
        width: 100%;
        margin-left: 14px;
        margin-left: -13%;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
    
        input{
            color: white;
            height:40px;
            width: 106%;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 100;
            background-color: #202020;
            border: none;
            border-radius: 5px;
    
        }
    
        input::placeholder{
            color: white;
        }
    
        textarea{
            color: white;
            height:30px;
            width: 106%;
            margin-top: 10px;
            font-size: 22px;
            font-weight: 0;
            background-color: #202020;
            border: none;
            border-radius: 5px;
            min-height: 150px;
    
            
        }
    
        textarea::placeholder{
            color: white;
            padding-left: 7px;
        }
    
    }
    
    .button2{
        color:black;
        background-color: orange;
        width: 107%;
        margin-top: 20px;
    }
    

}


@media screen and (max-width: 470px) {

    .contactUs{

        h1{
            margin-left: -140px;
        }
    }

}
