.fleet_items{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    color: white;
    margin-left: 2vw;
}

.car{
    display: flex;
    flex-direction: column;
    width: 35vw;
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;

    h3{
        margin-top: -20px;
        margin-right: 100%;
        white-space: nowrap;
        font-size: 50px;
        margin-bottom: -60px;
        font-weight: 500;
    }

    h5{
        margin-right: 100%;
        white-space: nowrap;
        font-size: 35px;
        font-weight: 200;
    }

    img{
        width: 35vw;
        height: 25vw;
    }

    button{
        background-color: black;
        height: 50px;
        width: 35vw;
        margin-left: 0%;
        margin-top: 40px;
        border-color: orange;
        border-style: solid;
        border-radius: 10px;
        font-size: 23px;
        font-weight: 600;
        color: orange;
    }

    button:hover{
            background-color: black;
            border-color: white;
            color: white;
            cursor: pointer;
    }


}

.car:hover{
    h3{
        color: orange;
    }
    h5{
        color: orange;
    }
}

.attributes{
    margin-top: -70px;
    width: 35vw;
    display: flex;
    flex-direction: row;
}

.attribute1{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        font-size: 18px;
        margin-left: 12px;
        margin-top: 0px;
        font-weight: 400;
    }

    img{
        height: 25px;
        width: 25px;
    }

    h6{
        width: 100px;
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: -10px;
        font-weight: 500;
    }
    
}

.attribute2{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        font-size: 18px;
        margin-left: 12px;
        margin-top: 0px;
        font-weight: 400;
    }

    img{
        height: 25px;
        width: 25px;
    }

    h6{
        width: 100px;
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: 20px;
        font-weight: 500;
    }
    
}

.attribute3{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        font-size: 18px;
        margin-left: 12px;
        margin-top: 0px;
        font-weight: 400;
    }

    img{
        height: 25px;
        width: 25px;
    }

    h6{
        width: 100px;
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: 25px;
        font-weight: 500;
    }
    
}


.attribute4{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        font-size: 18px;
        margin-left: 12px;
        margin-top: 0px;
        font-weight: 400;
    }

    img{
        height: 25px;
        width: 25px;
    }

    h6{
        width: 100px;
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 500;
        }
    
}


.split1{
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.split2{
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.split3{
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 45px;
}

.split4{
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.capacity_icon{
    height: 30px;
    width: 30px;
}

.drivetrain_icon{
    height: 30px;
    width: 30px;
}

.mpg_icon{
    height: 30px;
    width: 30px;
}

.car_doors_icon{
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 1400px) {

    .fleet_items{
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
        width: 10vw;
        color: white;
        margin-left: 22.5vw;
        margin-bottom: 100px;
    }

}


@media screen and (max-width: 1300px) {

.car{

    h3{
        font-size: 40px;
        margin-bottom: -50px;
    }

    h5{
        font-size: 30px;
    }

    .attributes{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .attribute1{
            margin-left: 3vw;
            margin-top: -2vw;
        }

        .attribute2{
            margin-top: -2vw;
        }

        .attribute3{
            margin-top: -10vw;
            margin-bottom: -2vw
        }

        .attribute4{
            margin-top: -10vw;
            margin-bottom: -2vw;
            margin-left: 6vw;
        }

    }

}

}


@media screen and (max-width: 1000px) {

    .car{

        h3{
            font-size: 30px;
        }
    
        h5{
            font-size: 25px;
        }
    



    }


}




@media screen and (max-width: 600px) {

    .fleet_items{
        display: grid;
        grid-template-columns: 1fr;
        width: 10vw;
        margin-left: -10px;
    }

    .car{
        display: flex;
        flex-direction: column;
        width: 90vw;
        color: white;
        margin-top: 30px;
        margin-bottom: 60px;
        margin-left: -30px;
    
        h3{
            width: 350px;
            font-size: 40px;
            font-weight: 500;
            margin-right: 300px;
            text-align: left;
            padding-bottom: 5px;
            white-space: wrap;
        }
    
        h5{
            margin-right: 100%;
            white-space: nowrap;
            font-size: 30px;
            font-weight: 200;
        }
    
        img{
            width: 350px;
            height: 250px;
        }
    
        button{
            background-color: black;
            height: 50px;
            width: 89vw;
            margin-left: 0%;
            margin-top: 20px;
            border-color: orange;
            border-style: solid;
            border-radius: 10px;
            font-size: 23px;
            font-weight: 600;
            color: orange;
        }

    }

    .attributes{
        margin-top: -80px;
        width: 90vw;
    }

        .attribute1{
        
        
            img{
                height: 25px;
                width: 25px;
            }
            
        }
        
        .attribute2{

            h6{
                margin-left: 5px;
            }
            img{
                height: 25px;
                width: 25px;
            }
        }
        
        
        .attribute3{

            h6{
                margin-left: -5px;
            }
            
            img{
                height: 25px;
                width: 25px;
            }
        }
        
        

        h6{
            margin-left: -23px;
        }
        .attribute4{
        
            img{
                height: 25px;
                width: 25px;
            }
        }

                
        .split1{
            width: 80px;
            display: flex;
            flex-direction: row;
            margin-left: 15px;
        }

        .split2{
            width: 80px;
            display: flex;
            flex-direction: row;
            margin-left: 15px;
        }

        .split3{
            width: 80px;
            display: flex;
            flex-direction: row;
            margin-left: 15px;
        }

        .split4{
            width: 80px;
            display: flex;
            flex-direction: row;
            margin-left: 5px;
        }


    
    
    }






