.OurFleet{

    width: 80vw; 
    margin-left: 10vw;
    

    .fleet_items{
        margin-left: 0vw;
        width: 80vw;
    }
}

@media screen and (max-width: 1000px){

        .brands{
            display: none;
        }


}


@media screen and (max-width: 1400px){

    .OurFleet{

        width: 10vw;
        margin-left: 32.5vw;

        .fleet_items{
            width: 10vw;
        }
        
        .brands{
            width: 40vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: -60px;
            
            img{
                margin-bottom: 50px;
            }
        }



    }

}

@media screen and (max-width: 1000px){

    .OurFleet{

        .brands{
            display: none;
        }

        .fleet_items{
            margin-top: -50px;
        }

    }




} 




@media screen and (max-width: 450px){

    .OurFleet{
        width: 50vw;
        margin-left: -30vw;

        .fleet_items{
            margin-top: -10px;
            width: 10vw;
            margin-left: 42.7vw;
        }

        h1{
            margin-left: 35vw;
            font-weight: 600;
            margin-bottom: -15px;
        }

        .brands{
            display: none;
        }


    }

    .FAQ{
        width: 90vw;
        margin-left: 10vw;
    }


} 
