.navbar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100vw;
    max-width: 100vw;
    margin-top: -4px;
    z-index: 999999;
}

.peg_logo{
    margin-left: 1vw;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.peg_logo:hover{
    cursor: pointer;
    scale: 1.2;
}


.our_fleet{
    white-space: nowrap;
    height: 20px;
    width: 5vw;
    margin-top: 27px;
    margin-left: 1vw;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
}

.our_fleet:hover{
    color: orange;
    cursor: pointer;
    background-color: black;
}

.about_us{
    white-space: nowrap;
    height: 20px;
    margin-top: 27px;
    margin-left: 1vw;
    width: 5vw;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
}

.about_us:hover{
    color: orange;
    cursor: pointer;
    background-color: black;
}

.book_now{
    white-space: nowrap;
    height: 40px;
    width: 120px;
    margin-top: 17px;
    font-size: 18px;
    margin-left: 75.5vw;
    font-weight: 550;
    color: black;
    background-color: orange;
    border-radius: 10px;
    border: none;
}

.book_now:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}

@media screen and (max-width: 1800px) {

    .book_now{
        margin-left: 74vw;
    }


}



@media screen and (max-width: 1550px) {

    .book_now{
        margin-left: 70vw;
    }

    
    .about_us{
        margin-left: 3vw;
    }

}



@media screen and (max-width: 1450px) {

    .book_now{
        margin-left: 68vw;
    }

}


@media screen and (max-width: 1350px) {

    .book_now{
        margin-left: 66vw;
    }

    .about_us{
        margin-left: 4vw;
    }

}


@media screen and (max-width: 1200px) {

    .book_now{
        margin-left: 64vw;
    }

}


@media screen and (max-width: 1100px) {

    .book_now{
        margin-left: 60vw;
    }

    .about_us{
        margin-left: 6vw;
    }

}


@media screen and (max-width: 955px) {

    .book_now{
        margin-left: 55vw;
    }

    .about_us{
        margin-left: 7vw;
    }

}



@media screen and (max-width: 800px) {

    .book_now{
        margin-left: 51vw;
    }

    .about_us{
        margin-left: 9vw;
    }

}



@media screen and (max-width: 760px) {

    .book_now{
        margin-left: 49vw;
    }

    .about_us{
        margin-left: 9vw;
    }

}




@media screen and (max-width: 710px) {

    .book_now{
        margin-left: 47vw;
    }

    .about_us{
        margin-left: 9vw;
    }

}




@media screen and (max-width: 670px) {

    .book_now{
        margin-left: 45vw;
    }

    .about_us{
        margin-left: 9vw;
    }

}




@media screen and (max-width: 630px) {
    
    .navbar{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        background-color: #000000;
        width: 100vw;
        z-index: 999999;
        padding-bottom: 10px;

        img{
            padding-bottom: 5px;
        }
    }
    

    .peg_logo{
        margin-top: 4vw;
        margin-right: 10px;
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

    .about_us{
        font-size: 16px;
        margin-top: 7vw;
        margin-left: 3vw;
        white-space: wrap;
        width: 50px;
        display: flex;
        align-items: center;

    }

    .our_fleet{
        display: flex;
        align-items: center;
        margin-top: 7vw;
        margin-left: 1vw;
        font-size: 16px;
        white-space: wrap;
        width: 50px;
    }

    .book_now{
        display: flex;
        align-items: center;
        margin-top: 4vw;
        font-size: 16px;
        margin-left: 27vw;
        white-space: wrap;
        width: 80px;
        height: 50px;
    }

}