/* VERSION 2.0 - MOBILE FIXED - 20260106_0603 */
.OurFleetPage {
  width: 100%;
  max-width: 100%;
  background: #000;
  min-height: 100vh;
  overflow-x: hidden;
}

.OurFleetPage .OurFleet {
  margin-top: 70px;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .OurFleetPage .OurFleet {
    margin-top: 80px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .OurFleetPage .OurFleet {
    margin-top: 85px;
    padding-top: 60px;
  }
}