.OurFleet{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-left: 15vw;
    
}

h1{
    text-align: left;
    white-space: nowrap;
    font-size: 80px;
    font-weight: 500;
}

.brands{
    display: flex;
    flex-direction: row;
    max-width: 100vw;

    img{
        margin-right: 5vw;
        height: 5vw;
        width: 5vw;
    }

    img:hover{
        cursor: pointer;
    }
}


@media screen and (max-width: 450px) {

    .OurFleet{
        width: 85vw;
        margin-left: 5%;
    }

    .fleet_items{
        display: grid;
        grid-template-columns: 1fr;
        width: 90vw;
        margin-right: 5%;
        
    }


    h1{
        font-size: 40px;
        width: 100px;
        margin-left: -8%;
    }

    .brands{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -30px;
        margin-left: -10%;

        img{
            height: 100px;
            width: 100px;
            margin-bottom: 50px;
            margin-top: 30px;
            margin-right: 90px;
            margin-left: 20px;
        }

    }


    

}