.Welcome{
    position: relative;
    width: 50vw;
    margin-top: 30px;
    background-color: black;
    height: 100%;
}

.maybach{
    width: 99.1vw;
    z-index: 0;
    height: 880px;
}

.maybach_mobile{
    display: none;
}

.box{
    width: 550px;
    height: 470px;
    position: absolute;
    z-index: 4;
    margin-top: -665px;
    margin-left: -27vw;
}

.text{
    width: 330px;
    font-size: 60px;
    margin-left: 3vw;
    margin-top: -700px;
    position: absolute;
    z-index: 5;

    p{
        color: white;
        font-weight: 650;
        text-align: left;
        margin-bottom: 40px;
    }

    button{
        background-color: orange;
        border-radius: 30px;
        margin-right: 100%;
        height: 120px;
        width: 300px;
        font-size: 30px;
        font-weight: 550;
    }

    button:hover{
        background-color: white;
        cursor: pointer;
    }
}



@media screen and (max-width: 1900px) {

    .maybach{
        width: 100vw;
    }

}

@media screen and (max-width: 1650px) {

    .box{
        margin-left: -27vw;
    }


    .maybach{
        width: 100vw;
    }
    

}


@media screen and (max-width: 1450px) {


    .box{
        margin-left: -28vw;
    }


    .maybach{
        width: 100vw;
    }
    

}



@media screen and (max-width: 1320px) {

    .box{
        margin-left: -29vw;
    }

    .maybach{
        width: 100vw;
    }


}


@media screen and (max-width: 1100px) {

    .box{
        margin-left: -31vw;
    }

    .maybach{
        width: 100vw;
    }


}


@media screen and (max-width: 975px) {

    .box{
        margin-left: -33vw;
    }

    .maybach{
        width: 100vw;
    }


}



@media screen and (max-width: 900px) {

    .maybach{
        width: 100vw;
    }


}



@media screen and (max-width: 850px) {

    .box{
        margin-left: -35vw;
    }

    .maybach{
        width: 100vw;
    }


}


@media screen and (max-width: 750px) {

    .box{
        margin-left: -35vw;
    }

    .maybach{
        width: 100vw;
    }


}

@media screen and (max-width: 600px) {

    .maybach{
        width: 40px;
        height: 40px;
        display: none;
    }

    .maybach_mobile{
        display: flex;
        margin-top: -20px;
        width: 100vw;
        height: 900px;
    }

    .box{
        display: none;
    }

    .text{

        display: fixed;
        width: 90vw;
        margin-left: -5px;
        margin-top: -820px;

        p{
            font-size: 38px;
            margin-bottom: 0px;
            width: 90vw;
        }

        button{
            width: 200px;
            height: 80px;
            border-radius: 10px;
            margin-left: -40%;
            margin-top: -50px;
            white-space: nowrap;
            color: black;
            margin-right: 0px;
        }

    }

    


    
}


/* full‐screen semi-transparent backdrop */
.modal-overlay {
  display: flex;
  width: 95vw;
  padding-top: 4vh;
  margin-left: -2.5vw; 
  height: 70vh;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -550px;
  z-index: 1000;
}

/* white box centering the iframe */
.modal-content {
    margin-top: -1vh;
  position: relative;
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
  padding-top: 70px;
  width: 100vw;
  height: 70vh;
}

/* close “X” in top-right */
.modal-close {

    position: absolute;
  width: 30px;
  height: 30px;
  top: 20px; 
  right: 30px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;

}

